<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      
      <%= render 'users/info', user: @user %>
      
      <div class="col-md-8 offset-md-1">
        <h2>Anime+</h2>
        <table class='table table-hover table-inverse'>
          <tbody>
            <% @post_animes.each do |post_anime| %>
            <tr data-href="<%= post_anime_path(post_anime.id) %>">
              <td>
                <%= attachment_image_tag post_anime.user, :profile_image, :fill, 80, 80, fallback: "default-image.jpg" %>
              </td>
              <td class="title">
                <%= post_anime.title %>
              </td>
              <td>
                <%= truncate(post_anime.body, length: 50, omission: "...") %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>